
@{
    ViewBag.Title = "Hatali";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Hatalı</h2>
        <p>İşlem sırasında hata oluştu. Hata detayı aşağıdadır.</p>
        @ViewBag.Hata
    </div>
</div>


