@model IEnumerable<ETicaret.Models.SiparisKalem>

@{
    ViewBag.Title = "SiparisDetay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Sipariş Detay</h1>
</div>



<table class="table">
    <tr>
        <th>
          Adet
        </th>
        <th>
           Toplam Tutar
        </th>
        <th>
          Ürünler
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Adet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToplamTutar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sipari.RefAspNetUserId)
        </td>
      
       
    </tr>
}

</table>
