
@{
    ViewBag.Title = "Tamamlandi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h2>Tamamlandı...</h2>
        <p>Siparişiniz Başarı ile alınmıstır</p>
    </div>
</div>

